.section {
    width: 480px;
    height: 430px;
    margin: 180px auto;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin: 0 auto;
}

.paragraph {
    text-align: center;
}

.button {
    margin: 0;
    padding: 0;
}