.link {
    display: flex;
    align-items: center;
    height: 56px;
    box-sizing: border-box;
    background-color: inherit;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

.link:visited {
    color: white;
}