.section {
    padding: 0;
    list-style: none;
    width: 600px;
    height: 756px;
    overflow-y: scroll;
  }
  
  .section::-webkit-scrollbar {
    margin-top: 40px;
    width: 8px;
    background-color: #2F2F37;
  }
  
  .section::-webkit-scrollbar-thumb {
    height: 492px;
    background-color: #4C4CFF;
  }
